node_modules
node_modules/
packages/backend/node_modules/
packages/frontend/node_modules/
dist/
packages/backend/dist/
packages/frontend/dist/
.env
packages/backend/.env
packages/frontend/.env
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-error.log*
lerna-debug.log*
packages/backend/coverage/
packages/frontend/coverage/
*.log
